<div class="container">

  <%= render :partial => "shared/tabs1", :locals => { :selected_item => '最新活動' } %>

    <br />
  
  <%= link_to "新增活動內容" , new_cashier_bulletin_path , class: "btn btn-primary center-block" %>
    
  <br />
  
  <div class="col-md-12">
    <table class="table table-striped table-bordered function-table">
      <thead>
        <tr>
          <th>起始日期</th>
          <th>結束日期</th>
          <th>標題</th>
          <th>內容</th>
          <th>發布者</th>
          <th>功能</th>
        </tr>
      </thead>
      <tbody>
        <% @bulletins.each do |bulletin| %>
          <tr>
            <td><%= bulletin.start_date %></td>
            <td><%= bulletin.end_date %></td>
            <td><%= bulletin.title %></td>
            <td class="alnleft"><%= bulletin.content %></td>
            <td><%= bulletin.user.name %></td>
            <td class="data-table">
            <% if bulletin.user == current_user %>
              <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_cashier_bulletin_path(bulletin), onclick:"edit" , caption: "編輯活動" %>
              <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, cashier_bulletin_path(bulletin), method: :delete, data: {confirm:"是否確認刪除?"}, onclick:"delete" , caption: "刪除活動" %>
            <% end %>  
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
 </div>

</div>