<div class="container">  
    <%= render :partial => "shared/tabs_general_function", :locals => { :selected_item => '最新活動' } %>

    <div class="col-md-8 col-md-offset-2">
      <h4 class="title table-title"><span class="title-main">新增活動內容</span></h4>
      <div class="form-group">

        <%= form_for  [:cashier, @bulletin] do |f| %>

          <%= f.label :start_date, "起始日期" %>
          <%= f.date_select :start_date, class: "form-control" %>&nbsp;&nbsp;


          <%= f.label :end_date, "結束日期" %>
          <%= f.date_select :end_date, class: "form-control" %>
          <br>

          <%= f.label :title, "標題" %>
          <%= f.text_field :title, class: "form-control" %>
          <br>

          <%= f.label :content, "內容" %>
          <%= f.text_area :content, class: "form-control", rows: "6" %>
          <br>

          <%= f.submit "發布消息" , class:"btn-submit", style:"width:100%" %>
        <% end %>
      </div>
    </div>
</div>
