<div class="container page-margin">
   <div class="container col-md-4 col-md-offset-4">

          <h4 class="title table-title"><span class="title-main"><%= resource_name.to_s.humanize %> 密碼變更</span></h4>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field form-group">
            <%= f.label :current_password ,'目前密碼' %>
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :password,'新設密碼' %> <i>( 若無更改，請留空 )</i><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            <% if @minimum_password_length %>
              <br />
              <em>至少 <%= @minimum_password_length %> 個字元</em>
            <% end %>
          </div>

          <div class="field form-group">
            <%= f.label :password_confirmation,'密碼確認' %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>



          <div class="actions">
            <%= f.submit "確定修改資料", class: "btn-submit btn-block" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>


