
<div class="container">

  <%= render :partial => "shared/tabs_setting", :locals => { :selected_item => '年齡設定' } %>
  <br>
 
  <div class="form-inline" >
    <%= form_for [:cashier, @age] do |f| %>
      <div class="form-group">
        <%= f.text_field :age_type, placeholder: "請輸入年齡", class: "form-control" %>
      </div>
      <%= f.submit "新增", class: "btn btn-primary" %>
      
      <% if @age.errors.any? %>
        <%= @age.errors.full_messages.to_sentence %>
      <% end %>
      
    <% end %>
  </div> 
 
  <br>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="alncenter auto-no">編號</th>
        <th class="alncenter">內容</th>
        <th class="alncenter">功能</th>
      </tr>
    </thead>
    <tbody>
    <% i = 1 %>
    <% @ages.each do |age| %>       
      <tr>
        <th scope="row" class="alncenter"><%= i %></th>
        <td class="alnleft"><%= age.age_type %></td>
        <td>
          <%= link_to '編輯', cashier_age_path(id: age.id) %> ｜
          <%= link_to '刪除', cashier_age_path(age), method: :delete, data: {confirm:"確定刪除?"} %>
        </td>
      </tr>
      <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>  
</div>