<div class="container">
  <%= render :partial => "shared/tabs1", :locals => { :selected_item => '訂單資訊' } %>
      
  <br>
  <h2>訂單列表</h2>
  <table class="table">
    <tbody>
      <tr>
        <th>編號</th>
        <th>結帳人員</th>
        <th>顧客編號</th>
        <th>付款方式</th>
        <th>總金額</th>

      </tr>

      <tr>
        <td><%= @order.id%></td>
        <td><%= @order.user.name%></td>
        <td>
          <% if @order.member_id == -1%>
            非會員
          <% else%>
            <%= @order.member_id%>
          <% end%>
        </td>
        <td><%= @order.payment_method%></td>
        <td><%= @order.amount%></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><%= link_to "綁定會員"%></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>