<div class="container">

  <ul class="nav nav-tabs">
    <li role="presentation" ><%= link_to "客情資料",guest_today_cashier_guests_path%></li>
    <li role="presentation" class="active"><a href="#">成立訂單</a></li>
    <li role="presentation" ><%= link_to "最新消息",cashier_bulletins_path%></li>
    <li role="presentation" ><%= link_to "搜尋會員",search_cashier_members_path%></li>
    <li role="presentation" ><%= link_to "新增會員",new_cashier_member_path%></li>
    <li role="presentation" ><%= link_to "會員資料(測試用，暫時)", cashier_members_path %></li>
  </ul>
      
  <br>
  
  <h2>會員訊息</h2>
  <table class="table">
    <tbody class="customer-info">
      <tr>
        <th>姓名</th>
        <th>電話</th>
        <th>信箱</th>
        <th>地址</th>        
        <th>#</th>
      </tr>
       <tr>
        <td><%= @member.name%></td>
        <td><%= @member.phone%></td>
        <td><%= @member.email%></td>
        <td><%= @member.address%></td>        
      </tr>
    </tbody>
  </table>  
  <br>
  
  
  <h2>購買內容#<%= current_cart.id%></h2>
  <table class="table">
    <tbody class="cart-item-list">
      <tr>
        <th>類型</th>
        <th>商品名稱</th>          
        <th>國際條碼</th>
        <th>定價</th>        
        <th>購買數量</th>
        <th>#</th>
      </tr>        
      <% @cart_items.each do |item|%>
        <tr id="<%= item.product.id%>">
          <td><%=item.product.category%></td>
          <td><%=item.product.zh_name%></td>            
          <td><%=item.product.upc%></td>
          <td><%=item.product.price%></td>                  
          <td>
            <span class="minus-item text-muted glyphicon glyphicon-minus"></span>
            <input type="text" name="" size="3" class="quantity text-center" value="<%=item.quantity%>">
            <span class="plus-item text-muted glyphicon glyphicon-plus"></span>
          </td>          
          <td>
            <span class="delete-item text-danger glyphicon glyphicon-trash"></span>
          </td>
          <% @order.amount+= item.product.price*item.quantity%>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <h5>總金額</h5>
    </div>  
    <div class="col-md-2 col-md-offset-5 text-right">
      <h5 id="total">$ <%= @order.amount%></h5>
      
    </div>  
  </div>
  <br>
  <div class="text-right">
    <%= link_to "結帳完成並成立訂單",cashier_orders_path(member_id: @member.id),method: :post,class:"btn btn-success"%>
  </div>  
  <br>
  <h2>商品列表</h2>
  <table class="table">
    <tbody class="product-list">
      <tr>
        <th>類型</th>
        <th>商品名稱</th>
        <th>定價</th>
        <th>國際條碼</th>        
       
        <th>#</th>
      </tr>
    
    <% @products.each do |product| %>
      <tr id="<%= product.id%>">
        <td><%=product.category%></td>
        <td><%=product.zh_name%></td>
        <td><%=product.price%></td>
        <td><%=product.upc%></td> 
    
        <td><button class="add_to_cart">購買</button></td>
      </tr>
    <% end %>  
        
      
    </tbody>
  </table>  

</div>

<script type="text/javascript">
  $(".product-list").on("click", ".add_to_cart", function(event){
    var id  = event.target.parentNode.parentNode.id;
    console.log(id);
    $.ajax({
      url: "/cashier/products/" + id+"/add_to_cart",
      method: "POST",
      dataType: "json",      
      success: function(data){        
        var order_item = document.createElement("tr");
        var total_price = $("#total");
        var total_price_value = Number(total_price.html().replace('$ ',''));
        $(total_price).html("$ "+(total_price_value+Number(data["price"])));

        var cart_item = $(".cart-item-list").find("#"+data["id"]);
        if(cart_item.length){
          console.log(data["quantity"]);
          $(cart_item).find(".quantity").val(data["quantity"]);
        }
        else{
          console.log(data["id"]);
          $(".product-list").find("#" + data["id"]).remove();
          order_item.id = data["id"];
          $(order_item).html($("#order-item-template").html());
          $(order_item).find(".category").html(data["category"]);
          $(order_item).find(".zh_name").html(data["zh_name"]);
          $(order_item).find(".price").html(data["price"]);
          $(order_item).find(".upc").html(data["upc"]);
          $(".cart-item-list").append(order_item);
        }
          
      }
    });
  }); 


  


  $(".cart-item-list").on("click",".plus-item",function(event){
    var id = event.target.parentNode.parentNode.id;

    $.ajax({
      url: "/cashier/cart_items/" + id +"/plus_quantity",
      method: "POST",
      dataType: "json",
      success: function(data){
        var total_price = $("#total");
        var total_price_value = Number(total_price.html().replace('$ ',''));
        $(total_price).html("$ "+(total_price_value+Number(data["price"])));

        var cart_item = $(".cart-item-list").find("#"+data["id"]);
        $(cart_item).find(".quantity").val(data["quantity"]);
      }
    })
  });

  $(".cart-item-list").on("click",".minus-item",function(event){
    var id = event.target.parentNode.parentNode.id;

    $.ajax({
      url: "/cashier/cart_items/" + id +"/minus_quantity",
      method: "POST",
      dataType: "json",
      success: function(data){
        var total_price = $("#total");
        var total_price_value = Number(total_price.html().replace('$ ',''));
        $(total_price).html("$ "+(total_price_value-Number(data["price"])));

        var cart_item = $(".cart-item-list").find("#"+data["id"]);
        $(cart_item).find(".quantity").val(data["quantity"]);
      }
    })
  });
</script>

<script type="text/template" id="order-item-template">
  <td class="category"></td>
  <td class="zh_name"></td>  
  <td class="upc"></td>
  <td class="price"></td>   
  <td>
    <span class="minus-item text-muted glyphicon glyphicon-minus"></span>
    <input type="text" name="" size="3" class="quantity text-center" value="1">
    <span class="plus-item text-muted glyphicon glyphicon-plus"></span>
  </td>  
  <td>
    <span class="delete-item text-danger glyphicon glyphicon-trash"></span>
  </td>
</script>