<div class="container">

  <%= render :partial => "shared/tabs1", :locals => { :selected_item => '成立訂單2' } %>
      
  <br>
  <label>商品條碼:</label>
  <input type="text" name="" id="bar-code" onkeypress="return searchProduct(event)">
  <h2>會員訊息</h2>
  <table class="table">
    <tbody class="customer-info">
      <tr>
        <th>姓名</th>
        <th>電話</th>
        <th>信箱</th>
        <th>地址</th>        
        <th>#</th>
      </tr>
       <tr>
        <td><%= @member.name%></td>
        <td><%= @member.phone%></td>
        <td><%= @member.email%></td>
        <td class="address"><%= @member.address%></td>        
      </tr>
    </tbody>
  </table>  
  <br>
  
  
  <h2>購買內容#<%= current_cart.id%></h2>
  <table class="table">
    <tbody class="cart-item-list">
      <tr>
        <th>類型</th>
        <th>商品名稱</th>          
        <th>國際條碼</th>
        <th>定價</th>
        <th>數量</th>        
        <th>小計</th>
        <th>折扣金額</th>
        <th>售價</th>
        <th>#</th>
        <th>#</th>
      </tr>        
      <% @cart_items.each do |item|%>
        <tr id="<%= item.product.id%>">
          <td><%=item.product.category%></td>
          <td><%=item.product.zh_name%></td>            
          <td><%=item.product.upc%></td>
          <td class="price"><%=item.product.price%></td>                  
          
          <td>
            <span class="minus-item text-muted glyphicon glyphicon-minus"></span>
            <input type="text" name="" size="3" class="quantity text-center" value="<%=item.quantity%>">
            <span class="plus-item text-muted glyphicon glyphicon-plus"></span>
          </td>
          <td class="o-price"><%= item.origin_calculate %></td>
          <td class="v-price"><%= item.origin_calculate - item.calculate %></td>
          <td class="d-price"><%= item.calculate %></td>
          <td class="edit-price"><button onclick = 'return popupPriceEdit(event)'>修改金額</button></td>      
          <td>
            <span class="delete-item text-danger glyphicon glyphicon-trash"></span>
          </td>

          <% @order.amount += item.calculate %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>
  
  <br>
  <div class="row">
    <div class="ship-info col-md-8">
      <%= form_for [:cashier, @order] do |f|%>
        <label>原始總金額</label>
        <input class="form-control" type="text" value="<%= @order.amount%>" id="origin_amount" disabled="disabled">
  

        <%= f.label :discount_off, "X折扣%" %>
        <%= f.text_field :discount_off  ,class:"form-control", onkeypress:"return setOrderDiscount(event)"%>
       
        <%= f.label :amount, "折扣後總金額" %>
        <%= f.text_field :amount  ,class:"discount_amout form-control", onkeypress:"return setDiscountAmount(event)"%>
        


        <%= f.label :payment_method, "取貨方式" %>
        <%= f.radio_button :address ,"local", class:"local-radio" %>
        <%= f.label :address, "自取" %>
        <%= f.radio_button :address ," ",class:"ship-radio" %>
        <%= f.label :address, "宅配" %><br>
        <%= f.label :name, "姓名:" %>
        <%= f.text_field :name %><br>
        
        <%= f.label :phone, "電話:" %>
        <%= f.text_field :phone %><br>
        
        <%= f.label :address, "地址:" %>
        <%= f.text_field :address ,class:"input-address form-control" %><br>

        <%= f.label :payment_method, "付款方式:" %>
        <%= f.radio_button :payment_method ,"付現" %>
        <%= f.label :payment_method, "付現" %>
        <%= f.radio_button :payment_method ,"刷卡" %>
        <%= f.label :payment_method, "刷卡" %>
        <br>
        
        
        <%= f.label :remark ,"備註"%>
        <%= f.text_area :remark, class:"form-control" %>
        <br>

        <%= f.hidden_field :member_id, :value => @member.id %>
        
        <%= f.submit "結帳完成並成立訂單",class: "btn btn-primary" %>
      <% end %>
    </div>
    
      
      

  </div>
    
  <br>
  <h2>商品列表</h2>
  <table class="table" data-toggle="table">
    <thead>
      <tr>
        <th>類型</th>
        <th>商品名稱</th>
        <th data-sortable="true" data-field="price">定價</th>
        <th>國際條碼</th>       
        <th>#</th>
      </tr>
    </thead>
    <tbody class="product-list">    
    <% @products.each do |product| %>
      <% if product.status != "removed" %>
      <tr id="<%= product.id%>">
        <td><%=product.category%></td>
        <td><%=product.zh_name%></td>
        <td><%=product.price%></td>
        <td><%=product.upc%></td> 
    
        <td><button class="add_to_cart">購買</button></td>
      </tr>
      <% end %>
    <% end %>  
        
      
    </tbody>
  </table>  

</div>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<!-- Latest compiled and minified Locales -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>

<script type="text/javascript">
  

  $(".ship-radio").on("click", function(event){
    
    $(".ship-info").find(".input-address").removeAttr('disabled');
  });

  $("#order_address_local").on("click", function(event){
    
    $(".ship-info").find(".input-address").attr('disabled','disabled');
  });

  $(".product-list").on("click", ".add_to_cart", function(event){
    var id  = event.target.parentNode.parentNode.id;
    console.log(id);
    $.ajax({
      url: "/cashier/products/" + id + "/add_to_cart",
      method: "POST",
      dataType: "json",      
      success: function(data){        
        var order_item = document.createElement("tr");
        var total_price = $("#origin_amount");
        var total_price_value = Number(total_price.val());
        var price = Number(data["price"]);
        var origin_amount = total_price_value+price;
        var discount_off = Number($("#order_discount_off").val());
        var discount_amout = Math.round(origin_amount*discount_off/100);

        $("#order_amount").val(discount_amout);

        $(total_price).val(origin_amount);

        var cart_item = $(".cart-item-list").find("#"+data["id"]);
        if(cart_item.length){
          console.log(data["quantity"]);
          $(cart_item).find(".quantity").val(data["quantity"]);
        }
        else{
          console.log(data["id"]);
          $(".product-list").find("#" + data["id"]).remove();
          order_item.id = data["id"];
          $(order_item).html($("#order-item-template").html());
          $(order_item).find(".category").html(data["category"]);
          $(order_item).find(".zh_name").html(data["zh_name"]);
          $(order_item).find(".price").html(data["price"]);
          $(order_item).find(".o-price").html(data["price"]);
          $(order_item).find(".v-price").html("0");
          $(order_item).find(".d-price").html(data["price"]);

          $(order_item).find(".bulletin").html(data["bulletin"]);
          $(order_item).find(".upc").html(data["upc"]);
          $(".cart-item-list").append(order_item);
        }
          
      }
    });
  }); 


  $(".cart-item-list").on("click",".delete-item",function(event){
    var id = event.target.parentNode.parentNode.id;

    $.ajax({
      url: "/cashier/cart_items/" + id,
      method: "DELETE",
      dataType: "json",

      success: function(data){
        var total_price = $("#origin_amount");
        var total_price_value = Number(total_price.val());
        var price = Number(data["price"]);

        var origin_amount = total_price_value-price;
        var discount_off = Number($("#order_discount_off").val());
        var discount_amout = Math.round(origin_amount*discount_off/100);

        $("#order_amount").val(discount_amout);

        $(total_price).val((total_price_value-price));
        $(".cart-item-list").find("#"+data["id"]).remove();


      }
    })
  });


  $(".cart-item-list").on("click",".plus-item",function(event){
    var id = event.target.parentNode.parentNode.id;

    $.ajax({
      url: "/cashier/cart_items/" + id +"/plus_quantity",
      method: "POST",
      dataType: "json",
      success: function(data){
        var total_price = $("#origin_amount");
        var total_price_value = Number(total_price.val());
        var price = Number(data["price"]);
        var origin_amount = total_price_value+price;
        var discount_off = Number($("#order_discount_off").val());
        var discount_amout = Math.round(origin_amount*discount_off/100);
        var cart_item = $(".cart-item-list").find("#"+data["id"]);

        $("#order_amount").val(discount_amout);
        $(total_price).val(origin_amount);

        
        $(cart_item).find(".quantity").val(data["quantity"]);
        $(cart_item).find(".o-price").html(data["o_price"]);
        $(cart_item).find(".d-price").html(data["o_price"]);
      }
    })
  });

  $(".cart-item-list").on("click",".minus-item",function(event){
    var id = event.target.parentNode.parentNode.id;

    $.ajax({
      url: "/cashier/cart_items/" + id +"/minus_quantity",
      method: "POST",
      dataType: "json",
      success: function(data){
        var total_price = $("#origin_amount");
        var total_price_value = Number(total_price.val());
        var price = Number(data["price"]);        
        var cart_item = $(".cart-item-list").find("#"+data["id"]);       
        var origin_amount = total_price_value+price;
        var discount_off = Number($("#order_discount_off").val());
        var discount_amout = Math.round(origin_amount*discount_off/100);

        $(cart_item).find(".quantity").val(data["quantity"]);
        $(total_price).val(origin_amount);
        $("#order_amount").val(discount_amout);
        $(cart_item).find(".o-price").html(data["o_price"]);
        $(cart_item).find(".d-price").html(data["o_price"]);
      }
    })
  });



  //設定折扣方式
  $(".cart-item-list").on("change",".discount-list",function(event){ 
    var id = event.target.parentNode.parentNode.parentNode.id;
    var method_code = $(".cart-item-list").find("#"+id).find(":selected").val();
    console.log(id);
    console.log(method_code);
    if(method_code == "B"){
      var str ;
      if(str=prompt("請輸入0-100的數字","100"))
      {
        console.log(str);

        $.ajax({
          url: "/cashier/cart_items/"+ id +"/add_discount?method_code="+method_code + "&discount=" + str,
          method: "post",
          dataType: "json",
          success: function(data){
            var total_price = $("#origin_amount");
            var total_price_value = Number(total_price.val());
            var v_price = Number(data["v_price"]);
            var cart_item = $(".cart-item-list").find("#"+data["id"]);            
            var discount_off = $(cart_item).find(".discount_off");

            $(discount_off).val(data["discount_off"]);
            $(discount_off).prop("type","text");

            var origin_amount = total_price_value+v_price;
            var discount_off = Number($("#order_discount_off").val());
            var discount_amout = Math.round(origin_amount*discount_off/100);

            $("#order_amount").val(discount_amout);

            var cart_item = $(".cart-item-list").find("#"+data["id"]);
            $(cart_item).find(".discount_off").before("*");
            $(cart_item).find(".d-price").html(data["d_price"]);
            $(cart_item).find(".price").append("%");
            $(total_price).val(total_price_value+v_price);
          } 
        });
      }
    }
    else{
      $.ajax({
        url: "/cashier/cart_items/"+ id +"/add_discount?method_code="+method_code,
        method: "post",
        dataType: "json",
        success: function(data){
          var cart_item = $(".cart-item-list").find("#"+data["id"]);

          $(cart_item).find(".price").html(data["price"]);
          $(cart_item).find(".price").append('<input type="hidden" name="" size="3" value="100"  class="discount_off" onkeypress="return setDiscount(event)">');
          $(cart_item).find(".d-price").html(data["d_price"]);

          var total_price = $("#origin_amount");
          var total_price_value = Number(total_price.val());
          var v_price = Number(data["v_price"]);
          var origin_amount = total_price_value+v_price;
          var discount_off = Number($("#order_discount_off").val());
          var discount_amout = Math.round(origin_amount*discount_off/100);

          $("#order_amount").val(discount_amout);
          $(total_price).val(total_price_value+v_price);
        } 
      });
    }


      
  });



  //輸入barcode來搜尋商品
  function searchProduct(event) {
    if (event.keyCode == 13) {
        var barcode = $("#bar-code").val();
        console.log(barcode);

        $.ajax({
          url: "/cashier/products/barcode_to_cart?barcode=" + barcode ,
            method: "POST",
            dataType: "json",      
            success: function(data){        
              if(data == null || data.length == 0){
                alert("No data found");
              }
              else{
                var order_item = document.createElement("tr");
                var total_price = $("#origin_amount");
                var total_price_value = Number(total_price.val());
                var price = Number(data["price"]);
                var origin_amount = total_price_value + price;
                var discount_off = Number($("#order_discount_off").val());
                var discount_amout = Math.round(origin_amount*discount_off/100);

                order_item.id = data["id"];

                $("#order_amount").val(discount_amout);
                $(total_price).val(origin_amount);    

                $(order_item).html($("#order-item-template").html());
                $(order_item).find(".category").html(data["category"]);
                $(order_item).find(".zh_name").html(data["zh_name"]);
                $(order_item).find(".price").html(data["price"]);
                $(order_item).find(".price").append('<input type="hidden" name="" size="3" value="100"  class="discount_off" onkeypress="return setDiscount(event)">');
                $(order_item).find(".d-price").html(data["price"]);
                $(order_item).find(".upc").html(data["upc"]);
                $(".cart-item-list").append(order_item);
              }    
                    
            }
        });
      return false;
    }
  }
  function setItemDiscount(event) {
    
    if (event.keyCode == 13) {
      var str = $(event.target).val();
      var id = event.target.parentNode.parentNode.id;
      console.log(id);

      console.log(str);


      $.ajax({
        url: "/cashier/cart_items/"+ id +"/add_discount?method_code=B" + "&discount=" + str,
        method: "post",
        dataType: "json",
        success: function(data){
          var total_price = $("#origin_amount");
          var total_price_value = Number(total_price.val());
          var v_price = Number(data["v_price"]);
          var cart_item = $(".cart-item-list").find("#"+data["id"]);
          var origin_amount = total_price_value+v_price;
          var discount_off = Number($(event.target).val());
          var discount_amout = Math.round(origin_amount*discount_off/100);

          $(cart_item).find(".d-price").html(data["d_price"]);
          $(total_price).val(origin_amount);
          $("#order_amount").val(discount_amout);
        } 
      });
    return false;
    }
  }

  function setOrderDiscount(event) {
    
    if (event.keyCode == 13) {
      event.preventDefault();
      var origin_amount = Number($("#origin_amount").val());
      var discount_off = Number($(event.target).val());
      var discount_amout = Math.round(origin_amount*discount_off/100);//四捨五入
      console.log(discount_off);
      console.log(origin_amount);
      console.log(discount_amout);
      $("#order_amount").val(discount_amout);

      return false;
    }
  }

  function setDiscountAmount(event) {
    
    if (event.keyCode == 13) {
      event.preventDefault();
      var origin_amount = Number($("#origin_amount").val());
      var discount_amout = Number($(event.target).val());
      var discount_off = Math.round(discount_amout/origin_amount*100);
      
      console.log(discount_off);
      console.log(origin_amount);
      console.log(discount_amout);
      $("#order_discount_off").val(discount_off);

      return false;
    }
  }

  function popupPriceEdit(event)
  {
    var id = event.target.parentNode.parentNode.id;
    var str ;
    if(str=prompt("請輸入修改金額",""))
    {
      console.log(str);

      $.ajax({
        url: "/cashier/cart_items/"+ id +"/add_discount?method_code=D" + "&discount=" + str,
        method: "post",
        dataType: "json",
        success: function(data){
          var total_price = $("#origin_amount");
          var total_price_value = Number(total_price.val());
          var o_price = Number(data["price"]);
          var v_price = Number(data["v_price"]);
          var d_price = Number(data["d_price"]);
          var cart_item = $(".cart-item-list").find("#"+data["id"]);            
          var discount_off = $(cart_item).find(".discount_off");

          $(discount_off).val(data["discount_off"]);
          $(discount_off).prop("type","text");

          var origin_amount = total_price_value+(d_price-o_price);
          var discount_off = Number($("#order_discount_off").val());
          var discount_amout = Math.round(origin_amount*discount_off/100);

          $("#order_amount").val(discount_amout);

          var cart_item = $(".cart-item-list").find("#"+data["id"]);
          $(cart_item).find(".discount_off").before("*");
          $(cart_item).find(".v-price").html(data["v_price"]);
          $(cart_item).find(".d-price").html(data["d_price"]);
 
          $(total_price).val(origin_amount);
        } 
      });
    }
  }
</script>

<script type="text/template" id="order-item-template">
  <td class="category"></td>
  <td class="zh_name"></td>  
  <td class="upc"></td>
  <td class="price"></td> 
  <td>
    <span class="minus-item text-muted glyphicon glyphicon-minus"></span>
    <input type="text" name="" size="3" class="quantity text-center" value="1">
    <span class="plus-item text-muted glyphicon glyphicon-plus"></span>
  </td>
  <td class="o-price"></td>  
  <td class="v-price"></td>  
  <td class="d-price"></td>  
  <td class="edit-price"><button>修改金額</button></td>
  <td>
    <span class="delete-item text-danger glyphicon glyphicon-trash"></span>
  </td>
</script>