<div class="container">

  <%= render :partial => "shared/tabs_general_function", :locals => { :selected_item => '訂單資訊' } %>
  <%= render :partial => "shared/tab_order", :locals => { :selected_item => '今日訂單' } %>
  
  <div class="col-md-8 col-md-offset-2">
  <h4 class="title table-title"><span class="title-main">建立客情 > 訂單編號：<%= @order.sn %></span></h4>
  <%= form_for [:cashier, @guest], :url => create_guest_cashier_order_path(id: @order,guest: @guest) do |f| %>
    <div class="form-group">

      <%= f.label :payment, "購買金額" %>
      <%= f.text_field :payment, :value => @order.amount,class: "form-control"%>
      <br>

      <%= f.label :gender, "性別" %>　
      <label class="my_radio">
        <%= f.radio_button :gender ,"男" %>
        男
      </label>
      <label class="my_radio">
        <%= f.radio_button :gender ,"女" %>
        女
      </label>

      <br>
      <br>

      <%= f.label :guest_type_id, "客戶類型" %>
      <%= f.collection_select :guest_type_id, GuestType.all, :id, :guest_type, {prompt: false}, {class: "form-control"} %>
      <br>

      <%= f.label :country_id, "國籍" %>
      <%= f.collection_select :country_id, Country.in_service, :id, :name_zh_tw, {prompt: false}, {class: "form-control"} %>
      <br>

      <%= f.label :age_id, "年齡結構" %>
      <%= f.collection_select :age_id, Age.all, :id, :age_type, {prompt: false}, {class: "form-control"} %>
      <br>

      <%= f.label :info_way_id, "如何得知茶籽堂？" %>
      <%= f.collection_select :info_way_id, InfoWay.all, :id, :news_channel, {prompt: false}, {class: "form-control"} %>
      <br>

      <%= f.label :remark, "備註" %>
      <%= f.text_area :remark, class: "form-control" %>
      <br>

      <%= f.submit "新增紀錄",class: "btn-submit", style: "width:100%" %>

    </div>
  <% end %>
</div>
</div>