<div class="container">
 
  <%= render :partial => "shared/tabs_general_function", :locals => { :selected_item => '銷售報表' } %>
  <%= render :partial => "shared/tabs_analysis", :locals => { :selected_item => '銷售排行' } %>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

<div class="container">  
<% @hour_amount_hash.each {|key, value|
      if key.to_s == '10'
        @arr_y[0] += value
      elsif key.to_s == '11'
        @arr_y[1] += value
      elsif key.to_s == '12'
        @arr_y[2] += value
      elsif key.to_s == '13'
        @arr_y[3] += value
      elsif key.to_s == '14'
        @arr_y[4] += value
      elsif key.to_s == '15'
        @arr_y[5] += value
      elsif key.to_s == '16'
        @arr_y[6] += value
      elsif key.to_s == '17'
        @arr_y[7] += value
      elsif key.to_s == '18'
        @arr_y[8] += value
      elsif key.to_s == '19'
        @arr_y[9] += value
      elsif key.to_s == '20'
        @arr_y[10] += value
      elsif key.to_s == '21'
        @arr_y[11] += value
      else key.to_s == '22'
        @arr_y[12] += value
      end
    } %>
<p style="text-align: right">統計時間：<%= Date.today %></p> 
<canvas id="amountChart" width="200" height="50"></canvas>


<% @orders.each do |o| %>

  <% if o.created_at.hour.to_s == '10'
      @arr_y2[0] += 1
    elsif o.created_at.hour.to_s == '11'
      @arr_y2[1] += 1
    elsif o.created_at.hour.to_s == '12'
      @arr_y2[2] += 1    
    elsif o.created_at.hour.to_s == '13'
      @arr_y2[3] += 1 
    elsif o.created_at.hour.to_s == '14'
      @arr_y2[4] += 1
    elsif o.created_at.hour.to_s == '15'
      @arr_y2[5] += 1
    elsif o.created_at.hour.to_s == '16'
      @arr_y2[6] += 1
    elsif o.created_at.hour.to_s == '17'
      @arr_y2[7] += 1
    elsif o.created_at.hour.to_s == '18'
      @arr_y2[8] += 1
    elsif o.created_at.hour.to_s == '19'
      @arr_y2[9] += 1
    elsif o.created_at.hour.to_s == '20'
      @arr_y2[10] += 1
    elsif o.created_at.hour.to_s == '21'
      @arr_y2[11] += 1
    else o.created_at.hour.to_s == '22'
      @arr_y2[12] += 1
     end %>  

<% end %> 
<br>



<canvas id="orderChart" width="200" height="50"></canvas>

<script>
clearTimeout(go);   
var go = setTimeout(display, 500);  

function display() {
  var yAxis= <%= @arr_y.inspect.html_safe %>;
  var datas = <%= @arr_x.inspect.html_safe %>;                                  
  var ctx = document.getElementById("amountChart").getContext('2d');
  var amountChart = new Chart(ctx, {
      type: 'line',
    data: {
      labels: datas,
      datasets: [{
        label: '整點銷售額',
        data: yAxis,
        backgroundColor: [

            'rgba(75, 192, 192, 0.2)',
        ],
        borderColor: [
             'rgba(75, 192, 192, 1)',
        ],
        borderWidth: 1
      }]
          },
    options: { 
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
            min: 0
          }
        }]
      }
  }
  });

  
// chart2
  var yAxis= <%= @arr_y2.inspect.html_safe %>;
  var xAxis = <%= @arr_x.inspect.html_safe %>;                                  
  var ctx2 = document.getElementById("orderChart").getContext('2d');
  var orderChart = new Chart(ctx2, {
      type: 'line',
    data: {
      labels: xAxis,
      datasets: [{
        label: '整點訂單量',
        data: yAxis,
        backgroundColor: [

            'rgba(51, 102, 102, 0.2)',
        ],
        borderColor: [
             'rgba(51, 102, 102, 1)',
        ],
        borderWidth: 1
      }]
          },
    options: { 
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
            stepSize: 1,
          }
        }]
      }
  }
  });
}
 
</script>
</div>