<div class="container">
 
  <%= render :partial => "shared/tabs1", :locals => { :selected_item => '銷售報表' } %>
  <%= render :partial => "shared/tabs_analysis", :locals => { :selected_item => '銷售排行' } %>
 
<br>
<div class="col-md-6 col-md-offset-3">
  <p style="text-align: right">統計時間：<%= Date.today.all_month %></p> 
 <table class="table">
    <tbody>
      <tr>
        <th>門市人員</th>
        <th>銷售金額</th>
      </tr>
    </tbody>  
    <tbody>
      <% i = 0 %>
      <% @user_ranking.each do |order| %> 
      <tr>
        <td><%= order.user.name %> <% if i == 0 %>
        <i class = "glyphicon glyphicon-fire" aria-hidden="true" style="color:red"></i>
        <% end %></td>
        <td class="alnright"><%= number_to_currency(@user_amount[i], precision: 0)  %></td>
      </tr>
      <% i += 1 %>
      <% end %>
    </tbody>
  </table>  
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<canvas id="userChart" width="200" height="80"></canvas>
</div>



<script>
clearTimeout(go);   
var go = setTimeout(display, 500); 

function display() {
  var yAxis= <%= @y.inspect.html_safe %>;
  var xAxis = <%= @users.inspect.html_safe %>;

var ctx = document.getElementById("userChart").getContext('2d');


var userChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: xAxis,
        datasets: [{
            label: '個人銷售量',
            data: yAxis,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
}
</script>

