<div class="container">
  <%= render :partial => "shared/tabs_general_function", :locals => { :selected_item => '訂單資訊' } %>
  
  <br>
  <h4>訂單編號：<%= @order.sn %></h4>
  <% if @order.member_id == -1%>
    顧客編號：非會員
  <% else%>
    顧客編號：<%= @order.member_id %> <%= @order.member.name %>
  <% if @order_counts >= 2 %>
    <span class="label label-success">回購</span>
  <% else%>
    <span class="label label-primary">首購</span>
  <% end%>
  <% end%>
  <h5>門市經手人員：<%= @order.user.name %></h5>
  <br>

  <table class="table">
    <tbody>

      <tr>
        <th class=" alnleft">商品名稱</th>
        <th>國際條碼</th>
        <th>規格</th>
        <th class="alnright">單價</th>
        <th>數量</th>
        <th class="alnright">小計</th>
        <th class="alnright">折扣金額</th>
        <th class="alnright">售價</th>
      </tr>
      <% @order_items.each do |p| %>
      <tr>
        <td class=" alnleft"><%= p.product.zh_name %></td>
        <td><%= p.product.upc %></td>
        <td><%= p.product.capacity %></td>
        <td class="alnright"><%= p.product.price %></td>
        <td><%= p.quantity %></td>
        <td class="alnright"><%= p.product.price * p.quantity%></td>
        <td class="alnright"><%= (p.product.price * p.quantity) - p.price %></td>
        <td class="alnright"><%= p.price %></td>
        <% @origin_amount += p.price%>
      </tr>
      <% end %>
    </tbody>
  </table>
 
   <div class="row">
    <div class="cart-bill">
      <ul>
        <li><span>原始總金額</span><span><%= number_to_currency(@origin_amount, precision: 0)%> *  <%= @order.discount_off %>%</span></li>
        <li><span>折扣後總金額</span><span><%= number_to_currency(@origin_amount * @order.discount_off / 100, precision: 0)%></span></li>
        <li><span>折扣卷金額</span><span><%= number_to_currency(@coupon_discount, precision: 0)%></span></li>
        <li class="last"><strong><span>應付總金額</span><span><%= number_to_currency(@order.amount, precision: 0)%></span></strong></li>
      </ul>
    </div>
  </div>
  <br> 
  <h4>訂購資料</h4>
  <table class="table">
    <tbody>
      <tr>
        <th>訂購日期</th>
        <th>購買人</th>
        <th>付款方式</th>
        <th>取貨方式</th>
        <th>訂單狀態</th>
        <th>備註</th>
      </tr>

      <tr>
        <td><%= @order.created_at.localtime.to_s(:db) %></td>
        <td>
          <% if @order.member_id == -1 %>
            路人 <%= @order.name %>
          <% else%>
           會員 <%= @order.member.name %>
          <% end%>
        </td>
        <td><%= @order.payment_method %></td>
        <td><%= @order.address %></td>
        <% if @order.status %>
          <td>已取貨</td>
        <% else %>
          <td class="text-danger">未取貨</td>
        <% end%>   
        <td><%= @order.remark %></td>
      </tr>
    </tbody>
  </table>
</div>
