<div class="container">
 
  <%= render :partial => "shared/tabs_general_function", :locals => { :selected_item => '訂單資訊' } %>
  <%= render :partial => "shared/tab_order", :locals => { :selected_item => '今日訂單' } %>
  
  <table class="table table-hover function-table" data-toggle="table" id="table" >
    <thead>
      <tr>
        <th data-sortable="true" data-field="created_at">訂購日期</th>
        <th data-sortable="true" data-field="id">訂單編號</th>
        <th>會員姓名</th>
        <th>付款方式</th>
        <th>取貨方式</th>
        <th data-sortable="true" data-field="amount">訂單金額</th>
        <th>狀態</th>
        <th>結帳人員</th>
        <th>功能</th>
      </tr>
    </thead>
    <tbody>
      
      <% @orders.each do |order|%>
      <tr>
        <td><%= order.created_at.to_s[0..15] %></td>
        <td><%= link_to (cashier_order_path(order.id)) do %><%= order.sn %><% end %></td>
        <td>
          <% if order.member_id == -1%>
            非會員
          <% else%>
            <%= link_to (cashier_member_path(order.member_id)) do %>
              <%= order.member.name%>
            <% end %>
            <% if @orders.where(member_id: order.member_id).count >= 2 %>
              <span class="label label-success">回購</span>
            <% else%>
              <span class="label label-primary">首購</span>
            <% end%>
          <% end%>
        </td>


        <td><%= order.payment_method %></td>
        <td><%= order.address %></td>
        <td class="alnright"><%= number_to_currency(order.amount, precision: 0)%></td>
        <% if order.status %>
          <td>已取貨</td>
        <% else %>
          <td class="text-danger">未取貨</td>
        <% end%>      
        <td><%= order.user.name %></td>
        <td class="data-table">
          <% if order.user == current_user %>
            <%= link_to '<i class = "fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_cashier_order_path(order.id), onclick: "checkout" , caption: "編輯訂單" %>
            <% if order.guest_id == nil %>
              <%= link_to '<i class = "fa fa-handshake-o" aria-hidden="true"></i>'.html_safe, new_guest_cashier_order_path(order.id), onclick:"checkout" , caption: "建立客情" %>  
            <% end %>
          <% end %>
        </td>
      </tr>
      
      <% end %>
    </tbody>
  </table>
</div>
<br>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<!-- Latest compiled and minified Locales -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>

<script type="text/javascript">
  
</script>