<div class="container">

  <%= render :partial => "shared/tabs_admin", :locals => { :selected_item => '門市人員資料' } %>

  <%= link_to "新增門市人員帳號", new_cashier_user_path, class: "btn-normal btn", style:"width:100%" %>
  <br>
  <table class="table" data-toggle="table">
    <thead>
      <tr>
        <th>姓名</th>
        <th>狀態</th>
        <th>功能</th>
      </tr>
    </thead>
    <tbody id="origin-list" >          
      <% @users.each do |user| %>
         
        <tr>         
          <td><%= user.name %></td>
          <td>
            <% if user.resigned %>
              <span class="label label-danger">已離職</span>
            <% else %>
              <span class="label label-success">在職中</span>
            <% end %>
          </td>
          <td class="data-table">
            <% if user.resigned %>
              <%= link_to '<i class = "fa fa-check" aria-hidden="true"></i>'.html_safe, to_in_service_cashier_user_path(user), method: :post, onclick:"unremove" , caption: "恢復成在職"  %>
            <% else %>
              <%= link_to '<i class = "fa fa-times" aria-hidden="true"></i>'.html_safe, to_resigned_cashier_user_path(user), method: :post, onclick:"remove" , caption: "轉換為離職" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>  
    
</div>
