<div class="container">

  <%= render :partial => "shared/tabs_setting", :locals => { :selected_item => '膚質設定' } %>
  <br>
 
  <div class="form-inline" >
    <%= form_for [:cashier, @skin] do |f| %>
      <div class="form-group">
        <%= f.text_field :value, placeholder: "請輸入欲新增膚質內容", class: "form-control" %>
      </div>
      <%= f.submit "新增", class: "btn btn-primary" %>
      
      <% if @skin.errors.any? %>
        <%= @skin.errors.full_messages.to_sentence %>
      <% end %>
      
    <% end %>
  </div> 
 
  <br>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="alncenter">編號</th>
        <th class="alncenter">內容</th>
        <th class="alncenter">功能</th>
      </tr>
    </thead>
    <tbody>
    <% i = 1 %>
    <% @skins.each do |skin| %>       
      <tr>
        <th scope="row" class="alncenter"><%= i %></th>
        <td class="alnleft"><%= skin.value %></td>
        <td>
          <%= link_to '編輯', cashier_skin_type_path(id: skin.id) %> ｜
          <%= link_to '刪除', cashier_skin_type_path(skin), method: :delete, data: {confirm:"確定刪除?"} %>
        </td>
      </tr>
      <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>  
</div>
