<div class="container">

  <%= render :partial => "shared/tabs_setting", :locals => { :selected_item => '商品折扣設定' } %>
  <br>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="alncenter auto-no">編號</th>
        <th class="alncenter">內容</th>
        <th>狀態</th>
        <th>功能</th>
      </tr>
    </thead>
    <tbody>
    <% i = 1 %>
    <% @discount_methods.each do |discount_method| %>       
      <tr>
        <th scope="row" class="alncenter"><%= i %></th>
        <td class="alnleft"><%= discount_method.content %></td>
        <td>
        <% if discount_method.is_active %><span class="label label-success">啓用中</span><% end %>
        <% if !discount_method.is_active %><span class="label label-danger">停用中</span><% end %>
        </td>
        <td class="alncenter">
          <% if discount_method.is_active %>
            <%= link_to "停用商品折扣", remove_cashier_discount_method_path(discount_method), method: :post %>
          <% else %>
            <%= link_to "商品折扣啓用", listing_cashier_discount_method_path(discount_method), method: :post %>
          <% end %>         
        </td>
      </tr>
      <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>  
</div>
