<div class="container">

  <%= render :partial => "shared/tabs_setting", :locals => { :selected_item => '會員群組設定' } %>
  <br>
 
  <div class="form-inline" >
    <%= form_for [:cashier, @member] do |f| %>
      <div class="form-group">
        <%= f.text_field :value, placeholder: "請輸入欲新增會員群組", class: "form-control" %>
      </div>
      <%= f.submit "新增", class: "btn btn-primary" %>
      
      <% if @member.errors.any? %>
        <%= @member.errors.full_messages.to_sentence %>
      <% end %>
      
    <% end %>
  </div> 
 
  <br>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="alncenter auto-no">編號</th>
        <th class="alncenter">內容</th>
        <th class="alncenter">功能</th>
        <th class="alncenter">備註</th>
      </tr>
    </thead>
    <tbody>
    <% i = 1 %>
    <% @members.each do |member| %>       
      <tr>
        <th scope="row" class="alncenter"><%= i %></th>
        <td class="alnleft"><%= member.value %></td>
        <td>
          <%= link_to '編輯', edit_cashier_member_type_path(id: member.id) %> ｜
          <% if member.system_flag == "Y" %>
            <span style="color: gray;">刪除</span>
          <% else %>
            <%= link_to '刪除', cashier_member_type_path(member), method: :delete, data: {confirm:"確定刪除?"} %>
          <% end %>
        </td>
        <td class="alncenter"><%= member.note %></td>
      </tr>
      <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>  
</div>
