<ul class="setting-tab">
 
  <li role="presentation" class="<%= 'active' if selected_item == '髮質設定' %>">
    <%= link_to "髮質設定", cashier_hair_types_path %>
  </li>
  
  <li role="presentation" class="<%= 'active' if selected_item == '膚質設定' %>">
    <%= link_to "膚質設定", cashier_skin_types_path %>
  </li>
  
  <li role="presentation" class="<%= 'active' if selected_item == '會員群組設定' %>">
    <%= link_to "會員群組設定", cashier_member_types_path %>
  </li>
  
  <li role="presentation" class="<%= 'active' if selected_item == '客戶類型設定' %>">
    <%= link_to "客戶類型設定", cashier_guest_types_path %>
  </li>
 
  <li role="presentation" class="<%= 'active' if selected_item == '國籍設定' %>">
    <%= link_to "國籍設定", cashier_countries_path %>
  </li>
  
  <li role="presentation" class="<%= 'active' if selected_item == '' %>">
    <%= link_to "", cashier_countries_path %>
  </li>
  
  <li role="presentation" class="<%= 'active' if selected_item == '' %>">
    <%= link_to "", cashier_countries_path %>
  </li>
  
  <li role="presentation" class="<%= 'active' if selected_item == '' %>">
    <%= link_to "", cashier_countries_path %>
  </li>
  
  <li role="presentation" class="<%= 'active' if selected_item == '' %>">
    <%= link_to "", cashier_countries_path %>
  </li>
  
</ul>