<ul class="setting-tab">
 
  <li role="presentation" class="<%= 'active' if selected_item == '髮質設定' %>">
    <%= link_to "髮質設定", cashier_hair_types_path %>
  </li>
  
  <li role="presentation" class="<%= 'active' if selected_item == '膚質設定' %>">
    <%= link_to "膚質設定", cashier_skin_types_path %>
  </li>
  
  <li role="presentation" class="<%= 'active' if selected_item == '會員群組設定' %>">
    <%= link_to "會員群組設定", cashier_member_types_path %>
  </li>
  
  <li role="presentation" class="<%= 'active' if selected_item == '年齡設定' %>">
    <%= link_to "年齡設定", cashier_ages_path %>
  </li>
  
  <li role="presentation" class="<%= 'active' if selected_item == '消息來源設定' %>">
    <%= link_to "消息來源設定", cashier_info_ways_path %>
  </li>
  
  <li role="presentation" class="<%= 'active' if selected_item == '國籍設定' %>">
    <%= link_to "國籍設定", cashier_countries_path %>
  </li>
    
  <li role="presentation" class="<%= 'active' if selected_item == '商品折扣設定' %>">
    <%= link_to "商品折扣設定", cashier_discount_methods_path %>
  </li> 
  
</ul>