<ul class="guest-tab clearfix">
  <li role="presentation" class="<%= 'active' if selected_item == '每日銷售明細' %>"><%= link_to '每日銷售明細', sales_analysis_day_cashier_orders_path %></li>
  <li role="presentation" class="<%= 'active' if selected_item == '銷售報表查詢' %>"><%= link_to '銷售報表查詢', sales_analysis_statement_cashier_orders_path %></li>
  <li role="presentation" class="dropdown <%= 'active' if selected_item == '銷售排行' %>">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    銷售排行
    <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
       <li><%= link_to '商品排行' , ranking_product_cashier_orders_path %></li>
       <li><%= link_to '日期銷售' , ranking_day_cashier_orders_path %></li>
       <li><%= link_to '整點銷售' , ranking_hour_cashier_orders_path %></li>
       <li><%= link_to '門市人員排行' , ranking_user_cashier_orders_path %></li>
    </ul>
  </li>
</ul>