<ul class="nav-pills clearfix">
  <li role="presentation" class="<%= 'active' if selected_item == '成立訂單' %>"><%= link_to "成立訂單", new_cashier_order_path(id: -1) %></li>
  <li role="presentation" class="<%= 'active' if selected_item == '訂單資訊' %>"><%= link_to "訂單資訊", today_cashier_orders_path %></li>
  <li role="presentation" class="<%= 'active' if selected_item == '客情資料' %>"><%= link_to "客情資料", guest_today_cashier_guests_path %></li>
  <li role="presentation" class="<%= 'active' if selected_item == '最新活動' %>"><%= link_to "最新活動", cashier_bulletins_path %></li>
  <li role="presentation" class="<%= 'active' if selected_item == '搜尋會員' %>"><%= link_to "搜尋會員", search_cashier_members_path %></li>
  <li role="presentation" class="<%= 'active' if selected_item == '新增會員' %>"><%= link_to "新增會員", new_cashier_member_path %></li>
  <li role="presentation" class="<%= 'active' if selected_item == '銷售報表' %>"><%= link_to "銷售報表", sales_analysis_day_cashier_orders_path %></li>
</ul>