<ul class="advanced-tab">
  <li role="presentation" class="<%= 'active' if selected_item == '所有商品' %>">
    <%= link_to "所有商品", cashier_products_path %>
  </li>
  <li role="presentation" class="<%= 'active' if selected_item == '上傳商品' %>">
    <%= link_to "上傳商品", import_xlsx_new_cashier_products_path %>
  </li>
  <li role="presentation" class="<%= 'active' if selected_item == '數量管理' %>">
    <%= link_to "數量管理", manage_cashier_products_path %>
  </li>
  <li role="presentation" class="<%= 'active' if selected_item == '停用管理' %>">
    <%= link_to "停用管理", removed_list_cashier_products_path %>
  </li>
</ul>