<ul class="guest-tab clearfix">
 
  <li role="presentation" class="<%= 'active' if selected_item == '未領取訂單' %>">
    <%= link_to '未領取訂單', not_pick_cashier_orders_path %>
  </li>
  
  <li role="presentation" class="<%= 'active' if selected_item == '今日訂單' %>">
    <%= link_to '今日訂單', today_cashier_orders_path %>
  </li>
  
  <li role="presentation" class="<%= 'active' if selected_item == '訂單搜尋' %>">
    <%= link_to '訂單搜尋', search_cashier_orders_path %>
  </li>
  
</ul>