<ul class="admin-tab">
  <li role="presentation" class="<%= 'active' if selected_item == '進階設定' %>">
    <%= link_to("進階設定", cashier_settings_path) %>
  </li>
  <li role="presentation" class="<%= 'active' if selected_item == '所有會員資料' %>">
    <%= link_to("所有會員資料", cashier_members_path) %>
  </li>
  <li role="presentation" class="<%= 'active' if selected_item == '匯入會員資料' %>">
    <%= link_to("匯入會員資料", file_new_cashier_members_path) %>
  </li>
  <li role="presentation" class="<%= 'active' if selected_item == '所有訂單資料' %>">
    <%= link_to("所有訂單資料", cashier_orders_path) %>
  </li>
  <li role="presentation" class="<%= 'active' if selected_item == '門市人員資料' %>">
    <%= link_to("門市人員資料", cashier_users_path) %>
  </li>
</ul>