<div class="container">

  <%= render :partial => "shared/tabs_general_function", :locals => { :selected_item => '成立訂單' } %>
  
  <br>
  
  <h2>消費者訊息</h2>
  <table class="table">
    <tbody class="customer-info">
      <tr>
        <th>姓名</th>
        <th>電話</th>
        <th>信箱</th>
        <th>地址</th>        
        <th>#</th>
      </tr>
       <tr>
        <td><%= @member.name%></td>
        <td><%= @member.phone%></td>
        <td><%= @member.email%></td>
        <td><%= @member.address%></td>        
      </tr>
    </tbody>
  </table>  
  <br>
  <% if @order ==nil%>
    <button><%= link_to "新增訂單", cashier_orders_path, method: :post%></button>
  <% else %>
    <h2>訂單內容#<%= current_order.id%></h2>
    <
    <table class="table">
      <tbody class="order-item-list">
        <tr>
          <th>類型</th>
          <th>商品名稱</th>
          <th>定價</th>
          <th>國際條碼</th>        
          <th>購買數量</th>
          <th>#</th>
        </tr>
        <% @order_items.each do |item|%>
           <tr>
            <td><%=item.product.category%></td>
            <td><%=item.product.zh_name%></td>
            <td><%=item.price%></td>
            <td><%=item.product.upc%></td>        
            <td>
              <span class="minus-item text-muted glyphicon glyphicon-minus"></span>
              <input type="text" name="" size="3" class="text-center" value="<%=item.quantity%>">
              <span class="plus-item text-muted glyphicon glyphicon-plus"></span>
            </td>

            <td>
              <span class="delete-item text-danger glyphicon glyphicon-trash"></span>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>  
  <br>
  <h2>商品列表</h2>
  <table class="table">
    <tbody class="product-list">
      <tr>
        <th>類型</th>
        <th>商品名稱</th>
        <th>定價</th>
        <th>國際條碼</th>        
       
        <th>#</th>
      </tr>
    
    <% @products.each do |product| %>
      <tr id="<%= product.id%>">
        <td><%=product.category%></td>
        <td><%=product.zh_name%></td>
        <td><%=product.price%></td>
        <td><%=product.upc%></td> 
    
        <td><button class="add_to_order">加入訂單</button></td>
      </tr>
    <% end %>  
        
      
    </tbody>
  </table>  

</div>

<script type="text/javascript">
  $(".product-list").on("click", ".add_to_order", function(event){
    var id  = event.target.parentNode.parentNode.id;
    console.log(id);
    $.ajax({
      url: "/cashier/products/" + id+"/add_to_order",
      method: "POST",
      dataType: "json",      
      success: function(data){        
        var order_item = document.createElement("tr");
        console.log(data["id"]);
        $(".product-list").find("#" + data["id"]).remove();
        order_item.id = data["id"];
        $(order_item).html($("#order-item-template").html());
        $(order_item).find(".category").html(data["category"]);
        $(order_item).find(".zh_name").html(data["zh_name"]);
        $(order_item).find(".price").html(data["price"]);
        $(order_item).find(".upc").html(data["upc"]);
        $(".order-item-list").append(order_item);
      }
    });
  }); 


  $(".order-item-list").on("click",".delete-item",function(event){
    var id = event.target.parentNode.parentNode.id;

    $.ajax({
      url: "/cashier/order_items/" + id,
      method: "DELETE",
      dataType: "json",

      success: function(data){
        
       

        $(".order-item-list").find("#"+data["id"]).remove();
      }
    })
  });
</script>

<script type="text/template" id="order-item-template">
  <td class="category"></td>
  <td class="zh_name"></td>
  <td class="price"></td>
  <td class="upc"></td> 
  <td>
    <span class="minus-item text-muted glyphicon glyphicon-minus"></span>
    <input type="text" name="" size="3" class="text-center" value="1">
    <span class="plus-item text-muted glyphicon glyphicon-plus"></span>
  </td>
  <td>
    <span class="delete-item text-danger glyphicon glyphicon-trash"></span>
  </td>
</script>