<div class="container">
  <%= render :partial => "shared/tabs_admin", :locals => { :selected_item => '匯入會員資料' } %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4" style="text-align: center">
    <%= form_tag import_cashier_members_path, multipart: true do %>
      <%= image_tag ("xlsx.png") , style:'height:150px' %>
      <%= file_field_tag :file %>
      <br>
      <%= submit_tag "更新" , class:'btn btn-success form-control'%>
    <% end %>
    
    </div>
  </div>
  <div class="row text-center" style="margin: 30px">
    <div class="text-danger">
      <h5><i class="fa fa-exclamation-circle" aria-hidden="true"></i> 注意：上傳內容會根據「 電話 」欄位更新原會員資料，髮質與膚質類型必須是資料設定中所包含的</h5>
      <br>
      <h4>Excel 文件第一列欄位格式必須符合以下欄位：</h4>
    </div>
    <br>
    <table class="table">
      <thead>
        <th>姓名</th>
        <th>電話</th>
        <th>性別</th>
        <th>email</th>
        <th>生日</th>
        <th>傳真</th>
        <th>會員群組</th>
        <th>郵遞區號</th>
        <th>居住縣市</th>
        <th>居住地址</th>
        <th>紅利點數</th>
        <th>請問您是如何認識茶籽堂</th>
        <th>您的膚質為何</th>
        <th>您的髮質為何</th>
      </thead>
    </table>
  </div>
</div>