<div class="container">
 
  <%= render :partial => "shared/tabs_admin", :locals => { :selected_item => '所有會員資料' } %>
  <%= link_to 'CSV Download', cashier_members_path(:format => :csv) %>
  
  <br>

  <table class="data-table table" data-toggle="table">
    <thead>
      <tr>
        <th>姓名</th>
        <th>手機號碼</th>
        <th data-sortable="true" data-field="gender">性別</th>
        <th>信箱</th>
        <th data-sortable="true" data-field="birthday">生日</th>
        <th>功能</th>

      </tr>
    </thead>
    <tbody id="origin-list" >          
      <% @members.each do |member| %>
         
        <tr>         
          <td><%= member.name%></td>
          <td><%= member.phone%></td>
          <td><%= member.gender%></td>
          <td><%= member.email%></td>
          <td><%= member.birthday%>
          <% if member.birthday.month == Date.current.month %>
            <i class="fa fa-birthday-cake" aria-hidden="true" style="color:#FF9900"></i>
          <% end %></td>
          <td>
            <%= link_to '<i class = "fa fa-edit" aria-hidden="true"></i>'.html_safe, new_cashier_order_path(id: member), onclick:"checkout" , caption: "成立訂單" %>
            <%= link_to '<i class = "fa fa-user" aria-hidden="true"></i>'.html_safe, cashier_member_path(id: member.id), onclick:"user" , caption: "會員資料"  %>
            <%= link_to '<i class = "fa fa-list-alt" aria-hidden="true"></i>'.html_safe, show_orders_cashier_member_path(id: member.id), onclick:"orders" , caption: "訂單記錄"  %>
          </td>
        </tr>
      
      <% end %>
    </tbody>
  </table>  
    
</div>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<!-- Latest compiled and minified Locales -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
