<div class="container">
 
  <%= render :partial => "shared/tabs_general_function", :locals => { :selected_item => '新增會員' } %>
  
  <div class="col-md-8 col-md-offset-2">
    <h4 class="title table-title"><span class="title-main">新增會員</span></h4>
    <%= form_for [:cashier, @member] do |f| %>
      <div class="form-group">

        <%= f.label :name, "姓名" %>
        <%= f.text_field :name , class: "form-control"%>
        <br>   
       
        <%= f.label :gender, "性別" %>
        <label class="my_radio">
          <%= f.radio_button :gender ,"男" %>
          男
        </label>
        <label class="my_radio">
          <%= f.radio_button :gender ,"女" %>
          女
        </label>               
        <br>
        <br>

        <%= f.label :birthday, "生日" %>
        <%= f.date_select :birthday, class: "form-control", start_year: 1920 %>
        <br>
        <br>

        <%= f.label :phone, "手機號碼" %>
        <%= f.text_field :phone , class: "form-control"%>
        <br>

        <%= f.label :fax, "傳真" %>
        <%= f.text_field :fax , class: "form-control"%>
        <br>           
              
        <%= f.label :email, "電子信箱" %>
        <%= f.email_field :email , class: "form-control"%>
        <br>
        
        <%= f.label :address, "地址" %>
        <%= f.text_field :address , class: "form-control"%>
        <br>
        
        <%= f.label :hair_id, "髮質" %>
        <%= f.collection_select :hair_type_id, HairType.all, :id, :value, {prompt: false}, {class: "form-control"} %>
        <br>

        <%= f.label :skin_id, "膚質" %>
        <%= f.collection_select :skin_type_id, SkinType.all, :id, :value, {prompt: false}, {class: "form-control"} %>
        <br>

        <%= f.label :info_way_id, "如何得知茶籽堂？" %>
        <%= f.collection_select :info_way_id, InfoWay.all, :id, :news_channel, {prompt: false}, {class: "form-control"} %>
        <br>
        
        <%= f.label :member_code, "會員群組(內部人員註記用)" %>
        <%= f.collection_select :member_type_id, MemberType.all, :id, :value, {prompt: false}, {class: "form-control"} %>
        <br>

        <%= f.label :remark, "備註(內部人員註記用)" %>
        <%= f.text_area :remark, class: "form-control" %>
        <br>

        <%= f.label :avatar, "個人照片" %>
        <%= f.file_field :avatar %>
        <br>
        
        
        <%= f.submit "確定新增會員",class: "btn-submit", style:"width:100%" %>
      </div>
    <% end %>   
  </div>        
</div>
