<div class="container">
 
  <%= render :partial => "shared/tabs_general_function", :locals => { :selected_item => '無' } %>
  <%= render :partial => "shared/tab_member", :locals => { :selected_item => '詳細資料' } %>
  <br>

  <div class="col-md-6">
    <% if @member.avatar? %>
      <%= image_tag @member.avatar, class: "img-responsive center-block" %>
    <% else %>
      <%= image_tag ("avatar.png"), class: "img-responsive center-block img-rounded"%> 
    <% end %>
  </div>
  <div class="col-md-6 member-show data-table">
    
      <ul>
        <li>
          <span>會員群組：</span>
          <% if @member.member_type == nil %>
            <span>(尚未分群組)</span>
          <% else %>
            <span><%= @member.member_type.value %></span>
          <% end %>
        </li>
        <li>
          <span>姓名：</span>
          <span><%= @member.name%></span>
        </li>
        <li>
          <span>性別：</span>
          <span><%= @member.gender%></span>
        </li>
        <li>
            <span>生日：</span>
            <span><%= @member.birthday%></span>
            <% if @member.birthday.month == Date.current.month %>
              <i class="fa fa-birthday-cake" aria-hidden="true" style="color:#FF9900"></i>
            <% end %>
        </li>
        <li>
          <span>手機：</span>
          <span><%= @member.phone%></span>
        </li>
        <li>
          <span>傳真：</span>
          <span><%= @member.fax%></span>
        </li>
        <li>
          <span>信箱：</span>
          <span><%= @member.email%></span>
        </li>
        <li>
          <span>髮質：</span>
          <span><%= @member.hair_type.value%></span>
        </li>
        <li>
          <span>膚質：</span>
          <span><%= @member.skin_type.value%></span>
        </li>
<!--         <li>
          <span>地址：</span>
          <span><%= @member.county%><%= @member.address%></span>
        </li>
        <li>
          <span>紅利點數：</span>
          <span><%= @member.bonus%></span>
        </li> -->
        <li>
          <span>備註：</span>
          <span><%= @member.remark%></span>
        </li>
      </ul>
      <%= link_to '<i class = "fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_cashier_member_path(@member), onclick:"edit" , caption: "編輯會員資料", class:'pull-right' %>
    </div>
    

</div>
  
</div>
<br>
<br>
<script type="text/javascript">
  
  $("#search-form").on("click","#search",function(event){
    event.preventDefault();
    var phone = $("#phone").val();
    var email = $("#email").val();
    console.log(phone);
    console.log(email);
    $.ajax({
      url: "/cashier/members/search_outcome" ,
      method: "POST",
      dataType: "json",
      data: {
        phone: phone,
        email: email
      },
      success: function(data){
        
        var member = document.createElement("tr");
        
        if(data["id"]==""){
          $(member).html("No data fund");
        }
        else{
          member.id = data["id"];
          <% id = %>
          $(member).html($("#member-template").html());
          $(member).find(".name").html(data["name"]);
          $(member).find(".phone").html(data["phone"]);
          $(member).find(".gender").html(data["gender"]);
          $(member).find(".email").html(data["email"]);
          $(member).find(".birthday").html(data["birthday"]);
        
          var url = document.createElement("a");
          url.href = "/cashier/orders/new?id=" +member.id;
          $(url).html("成立訂單");
          $(member).find(".checkout").html(url);
        }
        
          
        $("#search-list").append(member);
        console.log(data["name"]);
      }
    });
  });

  
</script>

<script type="text/template" id="member-template">
  
  <td class="name"></td>
  <td class="phone"></td>
  <td class="gender"></td>
  <td class="email"></td>
  <td class="birthday"></td>
  <td ><button class="checkout"></button></td>
</script>