<div class="container">
 
  <%= render :partial => "shared/tabs1", :locals => { :selected_item => '無' } %>
  <%= render :partial => "shared/tab_member", :locals => { :selected_item => '詳細資料' } %>
  <br>

  <div class="col-md-6">
    <% if @member.avatar? %>
      <%= image_tag @member.avatar, class: "img-responsive center-block" %>
    <% else %>
      <%= image_tag ("avatar.png"), class: "img-responsive center-block img-rounded"%> 
    <% end %>
  </div>
  <div class="col-md-6">
    
    <%= link_to "編輯", edit_cashier_member_path(@member) %>
    
    <% if Date.today.month == @member.birthday.month %>
      *～當月壽星～*
      <br>
    <% end %>
    <br>
   
    <label>會員群組</label>    
    <% if @member.member_type == nil %>
      (尚未分群組)
    <% else %>
      <%= @member.member_type.value %>
    <% end %>
    <br>
    <label>姓名:</label>
    <%= @member.name%><br>
    
    <label>性別:</label>
    <%= @member.gender%><br>
    
    <label>生日:</label>
    <%= @member.birthday%>
    <% if @member.birthday.month == Date.current.month %>
      <i class="fa fa-birthday-cake" aria-hidden="true" style="color:#FF9900"></i>
    <% end %>
    <br>
    
    <label>手機:</label>
    <%= @member.phone%><br>
    
    <label>傳真:</label>
    <%= @member.fax%><br>    
    
    <label>信箱:</label>
    <%= @member.email%><br>    
    
    <label>髮質:</label>
    <%= @member.hair_type.value%><br>
    
    <label>膚質:</label>
    <%= @member.skin_type.value%><br>
    
    <!--
    <label>地址:</label>
    <%= @member.county%>
    <%= @member.address%><br>
    
    <label>紅利點數:</label>
    <%= @member.bonus%><br>
    -->
    
    <label>備註:</label>
    <%= @member.remark%><br>
  </div>
  
</div>
<br>
<br>
<script type="text/javascript">
  
  $("#search-form").on("click","#search",function(event){
    event.preventDefault();
    var phone = $("#phone").val();
    var email = $("#email").val();
    console.log(phone);
    console.log(email);
    $.ajax({
      url: "/cashier/members/search_outcome" ,
      method: "POST",
      dataType: "json",
      data: {
        phone: phone,
        email: email
      },
      success: function(data){
        
        var member = document.createElement("tr");
        
        if(data["id"]==""){
          $(member).html("No data fund");
        }
        else{
          member.id = data["id"];
          <% id = %>
          $(member).html($("#member-template").html());
          $(member).find(".name").html(data["name"]);
          $(member).find(".phone").html(data["phone"]);
          $(member).find(".gender").html(data["gender"]);
          $(member).find(".email").html(data["email"]);
          $(member).find(".birthday").html(data["birthday"]);
        
          var url = document.createElement("a");
          url.href = "/cashier/orders/new?id=" +member.id;
          $(url).html("成立訂單");
          $(member).find(".checkout").html(url);
        }
        
          
        $("#search-list").append(member);
        console.log(data["name"]);
      }
    });
  });

  
</script>

<script type="text/template" id="member-template">
  
  <td class="name"></td>
  <td class="phone"></td>
  <td class="gender"></td>
  <td class="email"></td>
  <td class="birthday"></td>
  <td ><button class="checkout"></button></td>
</script>