<div class="container">

  <%= form_for [:cashier, @discount] do |f| %>
    <div class="form-group">

      <%= f.label :discount_method_id, "打折方式" %>
      <%= f.collection_select :discount_method_id, DiscountMethod.all, :id, :content, {prompt: false}, {class: "form-control"} %>
      <br>

      <%= f.label :product_id, "商品" %>
      <%= f.collection_select :product_id, Product.all, :id, :zh_name, {prompt: false}, {class: "form-control"} %>
      <br>
      <%= f.hidden_field :bulletin_id, :value => params[:bulletin_id] %>
      <%= f.submit "新增紀錄",class: "btn btn-primary" %>

    </div>
  <% end %>

</div>