<div class="container">

  <%= render :partial => "shared/tabs_setting", :locals => { :selected_item => '客戶類型設定' } %>
  <br>
 
  <div class="form-inline" >
    <%= form_for [:cashier, @guest] do |f| %>
      <div class="form-group">
        <%= f.text_field :guest_type, placeholder: "請輸入欲新增客戶類型", class: "form-control" %>
      </div>
      <%= f.submit "新增", class: "btn btn-primary" %>
      
      <% if @guest.errors.any? %>
        <%= @guest.errors.full_messages.to_sentence %>
      <% end %>
      
    <% end %>
  </div> 
 
  <br>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="alncenter auto-no">編號</th>
        <th class="alncenter">內容</th>
        <th class="alncenter">功能</th>
      </tr>
    </thead>
    <tbody>
    <% i = 1 %>
    <% @guests.each do |guest| %>       
      <tr>
        <th scope="row" class="alncenter"><%= i %></th>
        <td class="alnleft"><%= guest.guest_type %></td>
        <td>
          <%= link_to '編輯', cashier_guest_type_path(id: guest.id) %> ｜
          <%= link_to '刪除', cashier_guest_type_path(guest), method: :delete, data: {confirm:"確定刪除?"} %>
        </td>
      </tr>
      <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>  
</div>
