<div class="container">
 
  <%= render :partial => "shared/tabs2", :locals => { :selected_item => '所有商品' } %>

  <table class="table function-table" style="display: block;overflow-x: auto;white-space: nowrap;">
    <tbody >
      <tr>
        <th>分類</th>
        <th class="alnleft">中文名稱</th>
        <th class="alnleft">英文名稱</th>
        <th>規格</th>
        <th class="alnright">價錢</th>
        <th>國際條碼</th>
        <th>適用對象</th>
        <th>中文主成份</th>
        <th>中文全成份</th>
        <th>英文全成份</th>
        <th>使用方法</th>
        <th>功能</th>
      </tr>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.category %></td>
          <td class="alnleft"><%= product.zh_name %></td>
          <td class="alnleft" title="<%= product.en_name %>"><%= truncate(product.en_name, length: 20) %></td>
          <td><%= product.capacity %></td>
          <td class="alnright"><%= product.price %></td>
          <td><%= product.upc %></td>
          <td class="alnleft" title="<%= product.use_for %>"><%= truncate(product.use_for, length: 9) %></td>
          <td class="alnleft" title="<%= product.zh_m_ingredients %>"><%= truncate(product.zh_m_ingredients, length: 30) %></td>
          <td class="alnleft" title="<%= product.zh_ingredients %>"><%= truncate(product.zh_ingredients, length: 30) %></td>
          <td class="alnleft" title="<%= product.en_ingredients %>"><%= truncate(product.en_ingredients, length: 30) %></td>
          <td class="alnleft" title="<%= product.directions %>"><%= truncate(product.directions, length: 30) %></td>
          <td class="data-table">
            <%= link_to '<i class = "fa fa-info-circle" aria-hidden="true"></i>'.html_safe, cashier_product_path(product), onclick:"product" , caption: "詳細內容"%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>  
    
</div>
