<div class="container">
 
  <%= render :partial => "shared/tabs_product_management", :locals => { :selected_item => '商品詳情' } %>

  <table class="table">
    <tbody >
      <tr>
        <th>類型</th>
        <th>中文名稱</th>
        <th>英文名稱</th>
        <th>規格</th>
        <th>價錢</th>
        <th>國際通用碼</th>
        <th>適用對像</th>
        <th>功能</th>
        <!--
        <th>中文主成份</th>
        <th>中文全成份</th>
        <th>英文全成份</th>
        -->
      </tr>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.category %></td>
          <td><%= product.zh_name %></td>
          <td title="<%= product.en_name %>"><%= truncate(product.en_name, length: 20) %></td>
          <td><%= product.capacity %></td>
          <td><%= product.price %></td>
          <td><%= product.upc %></td>
          <td title="<%= product.use_for %>"><%= truncate(product.use_for, length: 9) %></td>
          <td title="<%= product.directions %>"><%= truncate(product.directions, length: 20) %></td>
          <td>詳情 ｜ 編輯</td>
          <!--
          <td><%= product.zh_m_ingredients %></td>
          <td><%= product.zh_ingredients %></td>
          <td><%= product.en_ingredients %></td>
          -->
        </tr>
      <% end %>
    </tbody>
  </table>  
    
</div>
