<div class="container">
 
  <%= render :partial => "shared/tabs_product_management", :locals => { :selected_item => '數量管理' } %>
  <form  accept-charset="UTF-8" action="/cashier/products/update_all" method="post" >
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <table class="table">
      <tbody >
        <tr>
          <th>分類</th>
          <th class="alnleft">中文名稱</th>
          <th class="alnleft">英文名稱</th>
          <th>規格</th>
          <th class="alnright">價錢</th>
          <th>國際條碼</th>
          <th>數量</th>
          <th>增減數量</th>
        </tr>
        <% @products.each do |product| %>
          <% if product.quantity <= 5 %>
            <tr class="danger">
          <% else %>
            <tr>
          <% end %>
            <td><%= product.category %></td>
            <td class="alnleft"><%= product.zh_name %></td>
            <td class="alnleft"><%= product.en_name %></td>
            <td><%= product.capacity %></td>
            <td class="alnright"><%= product.price %></td>
            <td><%= product.upc %></td>
            <td><%= product.quantity %></td>
            <td><input type="number" name="products[<%= product.id %>][quantity]" min="-100" max="100" value="0" class="alnright"></td>
          </tr>
        <% end %>
      </tbody>
    </table>  
    <input type="submit" class="btn btn-primary pull-right" value="批次修改數量"/>
  </form>
</div>
<br>
