<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation" ><%= link_to "所有商品", cashier_products_path%></li>
    <li role="presentation" class="active"><%= link_to "上傳商品", new_cashier_product_path%></li>
    <li role="presentation" ><%= link_to "商品管理", manage_cashier_products_path%></li>
  </ul>
  
  <br>
  <%= form_tag import_cashier_products_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "更新" %>
  <% end %>
</div>

  