
<div class="container">

  <%= render :partial => "shared/tabs_setting", :locals => { :selected_item => '消息來源設定' } %>
  <br>
 
  <div class="form-inline" >
    <%= form_for [:cashier, @info_way] do |f| %>
      <div class="form-group">
        <%= f.text_field :news_channel, placeholder: "請輸入消息來源", class: "form-control" %>
      </div>
      <%= f.submit "新增", class: "btn btn-primary" %>
      
      <% if @info_way.errors.any? %>
        <%= @info_way.errors.full_messages.to_sentence %>
      <% end %>
      
    <% end %>
  </div> 
 
  <br>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="alncenter auto-no">編號</th>
        <th class="alncenter">內容</th>
        <th class="alncenter">功能</th>
        <th class="alncenter">備註</th>
      </tr>
    </thead>
    <tbody>
    <% i = 1 %>
    <% @info_ways.each do |info_way| %>       
      <tr>
        <th scope="row" class="alncenter"><%= i %></th>
        <td class="alnleft"><%= info_way.news_channel %></td>
        <td>
          <%= link_to '編輯', edit_cashier_info_way_path(id: info_way.id) %> ｜
          <% if info_way.system_flag == "Y" %>
            <span style="color: gray;">刪除</span>
          <% else %>
            <%= link_to '刪除', cashier_info_way_path(info_way), method: :delete, data: {confirm:"確定刪除?"} %>
          <% end %>
        </td>
        <td class="alncenter"><%= info_way.note %></td> 
      </tr>
      <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>  
</div>