<link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
<div class="container col-md-4 col-md-offset-4">
  <div class="login-form">
    <div class="panel-heading">
    <h2 class="panel-title text-center">歡迎使用CRM平台</h2>
    </div>
    <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field" form-group>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions form-group">
        <%= f.submit "登入", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>

    </div>
  </div>
    <%= link_to '<i class = "glyphicon glyphicon-play" aria-hidden="true"></i> 前往會員申請畫面'.html_safe,new_member_path %>
</div>
