<div class="container">
  
  <%= render :partial => "shared/tabs1", :locals => { :selected_item => '客情資料' } %>
  <%= render :partial => "shared/tabs_guest", :locals => { :selected_item => '今日客情分析' } %>
    <div>
      <div class="col-xs-6 col-sm-4">
        <blockquote>
          <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: <%= 
            number_to_percentage( Float(@boy_guests.count)/(@guests.count)*100 , precision: 0) %>">
              <span class="sr-only"></span>
              <p><%= @boy_guests.count %></p>
            </div>
            <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: <%= 
            number_to_percentage( Float(@girl_guests.count)/(@guests.count)*100 , precision: 0) %>">
              <span class="sr-only"></span>
              <p><%= @girl_guests.count %></p>
            </div>
          </div>

          <p style="font-size: 16px">
            男生：<%= @boy_guests.count %><br>
            女生：<%= @girl_guests.count %>
          </p>
        </blockquote>
        </div>

        <div class="col-xs-6 col-sm-4">
          <blockquote>         
            <div class="progress">
              <% i = 0 %>
              <% GuestType.all.each do |guest_type| %>
                <% color = '' %>
                <% color = 'success' if i % 3 == 0 %>
                <% color = 'warning progress-bar-striped' if i % 3 == 1 %>
                <% color = 'danger progress-bar-striped' if i % 3 == 2 %>
                <div 
                  class="progress-bar progress-bar-<%= color %>" 
                  style="width: <%= number_to_percentage(Float(@guests.where(guest_type_id: guest_type.id).count)/(@guests.count)*100 , precision: 0) %>">
                  <span class="sr-only"></span>
                  <p><%= @guests.where(guest_type_id: guest_type.id).count %></p>
                </div>
              <% i += 1 %>
              <% end %>  
            </div>

            <p style="font-size: 16px">
              <% GuestType.all.each do |guest_type| %>
                <%= GuestType.find(guest_type.id).guest_type %>：<%= @guests.where(guest_type_id: guest_type.id).count %><br>
              <% end %>
            </p>
          </blockquote>
        </div>

        <div class="col-xs-6 col-sm-4">
          <blockquote>
            <div class="progress">
              <div class="progress-bar progress-bar-success" style="width: <%= 
              number_to_percentage( Float(@tw_guests.count)/(@guests.count)*100 , precision: 0) %>">
                <span class="sr-only"></span>
                <p><%= @tw_guests.count %></p>
              </div>
              <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: <%= 
              number_to_percentage( Float(@jp_guests.count)/(@guests.count)*100 , precision: 0) %>">
                <span class="sr-only"></span>
                <p><%= @jp_guests.count %></p>
              </div>
              <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: <%= 
              number_to_percentage( Float(@hk_guests.count)/(@guests.count)*100 , precision: 0) %>">
                <span class="sr-only"></span>
                <p><%= @hk_guests.count %></p>
              </div>
            </div>
            <p style="font-size: 16px">
              台灣：<%= @tw_guests.count %><br>
              日本：<%= @jp_guests.count %><br>
              香港：<%= @hk_guests.count %>
            </p>
          </blockquote>
        </div>

        <div class="col-xs-6 col-sm-4">
          <blockquote>
            <div class="progress">
              <div class="progress-bar progress-bar-success" style="width: <%= 
              number_to_percentage( Float(@twenty_guests.count)/(@guests.count)*100 , precision: 0) %>">
                <span class="sr-only"></span>
                <p><%= @twenty_guests.count %></p>
              </div>
              <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: <%= 
              number_to_percentage( Float(@thirty_guests.count)/(@guests.count)*100 , precision: 0) %>">
                <span class="sr-only"></span>
                <p><%= @thirty_guests.count %></p>
              </div>
              <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: <%= 
              number_to_percentage( Float(@forty_guests.count)/(@guests.count)*100 , precision: 0) %>">
                <span class="sr-only"></span>
                <p><%= @forty_guests.count %></p>
              </div>
            </div>
            <p style="font-size: 16px">
              25 ~ 35歲：<%= @tw_guests.count %><br>
              35 ~ 45歲：<%= @jp_guests.count %><br>
              45 歲以上：<%= @hk_guests.count %>
            </p>
          </blockquote>
        </div>

        <div class="col-xs-6 col-sm-4">
          <blockquote>
            <div class="progress">
              <div class="progress-bar progress-bar-success" style="width: <%= 
              number_to_percentage( Float(@pass_guests.count)/(@guests.count)*100 , precision: 0) %>">
                <span class="sr-only"></span>
                <p><%= @pass_guests.count %></p>
              </div>
              <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: <%= 
              number_to_percentage( Float(@expo_guests.count)/(@guests.count)*100 , precision: 0) %>">
                <span class="sr-only"></span>
                <p><%= @expo_guests.count %></p>
              </div>
              <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: <%= 
              number_to_percentage( Float(@family_guests.count)/(@guests.count)*100 , precision: 0) %>">
                <span class="sr-only"></span>
                <p><%= @family_guests.count %></p>
              </div>
              <div class="progress-bar progress-bar-info progress-bar-striped" style="width: <%= 
              number_to_percentage( Float(@toilet_guests.count)/(@guests.count)*100 , precision: 0) %>">
                <span class="sr-only"></span>
                <p><%= @toilet_guests.count %></p>
              </div>
            </div>
            <p style="font-size: 16px">
             <span>路過逛到：</span>
              <%= @pass_guests.count %><br>
              EXPO或其他通路買過：<%= @expo_guests.count %><br>
              親友推薦：<%= @family_guests.count %><br>
              廁所洗手露來客：<%= @toilet_guests.count %>
            </p>
          </blockquote>
        </div>

        <div class="col-xs-6 col-sm-4">
          <blockquote>
            <table class="table">
              <tbody class="customer-info">
                <tr>
                  <th>總客數</th>
                  <th>總銷售</th>
                </tr>
                <tr>
                  <td class="alncenter"><%= @guests.count %></td>
                  <td class="alncenter"><%= number_to_currency(@total_payment, precision: 0) %></td>
                </tr>
              </tbody>
            </table>
          </blockquote>
        </div>
      </div>
    </div>

<!-- ======================= 今日客流量 ===============================-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

<div class="container">
<% @guests.each do |g| %>

  <% if g.created_at.localtime.hour.to_s == '10'
      @arr_y[0] += 1
    elsif g.created_at.localtime.hour.to_s == '11'
      @arr_y[1] += 1
    elsif g.created_at.localtime.hour.to_s == '12'
      @arr_y[2] += 1    
    elsif g.created_at.localtime.hour.to_s == '13'
      @arr_y[3] += 1 
    elsif g.created_at.localtime.hour.to_s == '14'
      @arr_y[4] += 1
    elsif g.created_at.localtime.hour.to_s == '15'
      @arr_y[5] += 1
    elsif g.created_at.localtime.hour.to_s == '16'
      @arr_y[6] += 1
    elsif g.created_at.localtime.hour.to_s == '17'
      @arr_y[7] += 1
    elsif g.created_at.localtime.hour.to_s == '18'
      @arr_y[8] += 1
    elsif g.created_at.localtime.hour.to_s == '19'
      @arr_y[9] += 1
    elsif g.created_at.localtime.hour.to_s == '20'
      @arr_y[10] += 1
    elsif g.created_at.localtime.hour.to_s == '21'
      @arr_y[11] += 1
    else g.created_at.localtime.hour.to_s == '22'
      @arr_y[12] += 1
     end %>  

<% end %> 
<br>

<canvas id="hourChart" width="200" height="50"></canvas>

<script>
clearTimeout(go);   
var go = setTimeout(display, 500);  

function display() {
  var yAxis= <%= @arr_y.inspect.html_safe %>;
  var datas = <%= @arr_x.inspect.html_safe %>;                                  
  var ctx = document.getElementById("hourChart").getContext('2d');
  var hourChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: datas,
      datasets: [{
        label: '今日客情流量',
        data: yAxis,
        backgroundColor: [
            'rgba(54, 162, 235, 0.2)',
        ],
        borderColor: [
            'rgba(54, 162, 235, 1)',
        ],
        borderWidth: 1
      }]
    },
    options: { 
      scales: {
        yAxes: [{
          ticks: {
            min: 0,
            beginAtZero: true,
            stepSize: 1
          }
        }]
      }
    }
  });
}
  
</script>
</div>

<br>
