<div class="container">
  
  <%= render :partial => "shared/tabs_general_function", :locals => { :selected_item => '客情資料' } %>
  <%= render :partial => "shared/tabs_guest", :locals => { :selected_item => '今日客情' } %>

  <%= link_to "新增客情", new_cashier_guest_path, class: "btn btn-primary center-block" %>
  <br>
  <div class="col-md-12">

    <table class="table table-striped table-bordered function-table">
      <tbody>
        <tr>
          <th class="alncenter">編號</th>
          <th class="alncenter">時間截記</th>
          <th class="alncenter">購買金額</th>
          <th class="alncenter">性別</th>
          <th class="alncenter">客戶類型</th>
          <th class="alncenter">國籍</th>
          <th class="alncenter">年齡結構</th>
          <th class="alncenter">如何得知茶籽堂</th>
          <th class="alncenter">備註</th>
          <th class="alncenter">記錄人員</th>
          <th class="alncenter">功能</th>
        </tr>
      <% i = 1 %>
      <% @guests.each do |guest| %>       
        <tr>
          <th scope="row" class="alncenter"><%= i %></th>
          <td class="alncenter"><%= guest.created_at.to_s[0..15] %></td>
          <td class="alnright"><%= number_to_currency(guest.payment, precision: 0) %></td>
          <td class="alncenter"><%= guest.gender %></td>
          <td class="alncenter"><%= guest.guest_type.guest_type %></td>
          <td class="alncenter"><%= guest.country.name_zh_tw %></td>
          <td><%= guest.age.age_type %></td>
          <td><%= guest.info_way.news_channel %></td>
          <td><%= guest.remark %></td>
          <td><%= guest.user.name %></td>
          <td class="data-table">
            <% if guest.user == current_user %>
              <%= link_to '<i class = "fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_cashier_guest_path(guest), onclick:"edit", caption: "編輯客情" %>
              <%= link_to '<i class = "fa fa-trash" aria-hidden="true"></i>'.html_safe, cashier_guest_path(guest), method: :delete, data: {confirm:"確定刪除?"}, onclick:"delete" , caption: "刪除客情" %>
            <% end %>
          </td>
        </tr>
        <% i = i + 1 %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
