<div class="container">
  <%= render :partial => "shared/tabs_setting", :locals => { :selected_item => '髮質設定' } %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h4 class="title table-title"><span class="title-main">編輯髮質設定</span></h4>
      <%= form_for [:cashier, @hair] do |f| %>
        <div class="form-group">
         
          <%= f.label :value, "名稱" %>
          <%= f.text_field :value, class: "form-control"%>
          <br>
          <div class="form-group" style="text-align:center;">
            <%= f.submit "確定", class: "btn-submit", style: "width:50%;" %>
          </div>
        </div>
      <% end %>
   </div>
  </div>
</div>
