<div class="container">
 
  <div class="form-inline" >
    <%= form_for [:cashier, @hair] do |f| %>
      <div class="form-group">
        <%= f.text_field :value, placeholder: "請輸入欲新增髮質內容",  class: "form-control" %>
      </div>
      <%= f.submit "新增", class: "btn btn-primary" %>
      
      <% if @hair.errors.any? %>
        <%= @hair.errors.full_messages.to_sentence %>
      <% end %>
      
    <% end %>
  </div> 
 
  <%#= link_to "新增髮質內容", new_cashier_hair_type_path, class: "btn btn-primary" %> 
  <br>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="alncenter">編號</th>
        <th class="alncenter">內容</th>
        <th class="alncenter">功能</th>
      </tr>
    </thead>
    <tbody>
    <% i = 1 %>
    <% @hairs.each do |hair| %>       
      <tr>
        <th scope="row" class="alncenter"><%= i %></th>
        <td class="alnleft"><%= hair.value %></td>
        <td>
          <%= link_to '編輯', cashier_hair_type_path(id: hair.id) %> ｜
          <%= link_to '刪除', cashier_hair_type_path(hair), method: :delete, data: {confirm:"確定刪除?"} %>
        </td>
      </tr>
      <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>  
</div>
