<div class="container">

  <%= render :partial => "shared/tabs_setting", :locals => { :selected_item => '國籍設定' } %>
  <br>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="alncenter auto-no">編號</th>
        <th class="alncenter">內容</th>
        <th>狀態</th>
        <th class="alncenter">功能</th>
      </tr>
    </thead>
    <tbody>
    <% i = 1 %>
    <% @countries.each do |country| %>       
      <tr>
        <th scope="row" class="alncenter"><%= i %></th>
        <td class="alnleft"><%= country.name_zh_tw %></td>
        <td>
        <% if country.is_active %><span class="label label-success">啓用中</span><% end %>
        <% if !country.is_active %><span class="label label-danger">停用中</span><% end %>
        </td>
        <td>
          <% if country.is_active %>
            <%= link_to "停用國家", remove_cashier_country_path(country), method: :post %>
          <% else %>
            <%= link_to "國家啓用", listing_cashier_country_path(country), method: :post %>
          <% end %> 
        </td>
      </tr>
      <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>  
</div>
