<div class="container">

  <%= render :partial => "shared/tabs_setting", :locals => { :selected_item => '國籍設定' } %>
  <br>
 
  <div class="form-inline" >
    <%= form_for [:cashier, @country] do |f| %>
      <div class="form-group">
        <%= f.text_field :country_type, placeholder: "請輸入國家", class: "form-control" %>
      </div>
      <%= f.submit "新增", class: "btn btn-primary" %>
      
      <% if @country.errors.any? %>
        <%= @country.errors.full_messages.to_sentence %>
      <% end %>
      
    <% end %>
  </div> 
 
  <br>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="alncenter auto-no">編號</th>
        <th class="alncenter">內容</th>
        <th>狀態</th>
        <th class="alncenter">功能</th>
      </tr>
    </thead>
    <tbody>
    <% i = 1 %>
    <% @countries.each do |country| %>       
      <tr>
        <th scope="row" class="alncenter"><%= i %></th>
        <td class="alnleft"><%= country.country_type %></td>
        <td>
        <% if country.is_active %><span class="label label-success">啓用中</span><% end %>
        <% if !country.is_active %><span class="label label-danger">停用中</span><% end %>
        </td>
        <td>
          <%= link_to '編輯', cashier_country_path(id: country.id) %> ｜
          <%= link_to '刪除', cashier_country_path(country), method: :delete, data: {confirm:"確定刪除?"} %>
        </td>
      </tr>
      <% i = i + 1 %>
    <% end %>
    </tbody>
  </table>  
</div>
