<!DOCTYPE html>
<html>
  <head>
    <title>Whale</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
   
    <div class="content">
      <%= render :partial => "shared/navbar" %>
      
      
      <%= render :partial => "shared/header" %><!-- header -->
     
      <%= render :partial => "shared/flash_notice" %>
      
      <%= render :partial => "shared/flash_alert" %>
       
      <%= yield %>
      
    </div>
    
  <%= render :partial => "shared/footer" %><!-- footer -->
   
    </body>
</html>
