<!DOCTYPE html>
<html>
  <head>
    <title>Whale</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.cashier? %>
      <div>
        <ul class="nav nav-pills nav-pills-center">
          <li role="presentation"><%= link_to "會員中心", cashier_members_path %></li>
          <li role="presentation"><%= link_to "客情紀錄", cashier_guests_path %></li>
        </ul>
        <br>
      </div>
    <% end %>

    <% if flash[:notice] %>
    <div class="container">
     <div class="row">
       <div class="alert alert-success alert-dismissible" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <%= notice %>
       </div>
     </div>
    </div>
    <% end %>

    <% if flash[:alert] %>
    <div class="container">
     <div class="row">
      <div class="alert alert-danger alert-dismissible" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <%= alert %>
      </div>
     </div>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
