<!DOCTYPE html>
<html>
  <head>
    <title>Whale</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="content">
    <%= render :partial => "shared/navbar" %>
    
    <% if flash[:notice] %>
    <div class="container">
      <div class="row">
        <div class="alert alert-success alert-dismisssible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </div>
      </div>
    </div>
    <% end %>
    
    <% if flash[:alert] %>
    <div class="container">
      <div class="row">
        <div class="alert alert-danger alert-dismisssible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= alert %>
        </div>
      </div>
    </div>
    <% end %>
    <%= yield %>
  </div>
<!-- ============== footer =================== -->
      <footer id="footer">
        <div class="container">
          <div class="footer-content"> 
            <%= image_tag("footer-title.png")  %>
            <p>(02)2252-9909  info@orientea.com.tw</p>
            <p>聯絡時間：周一至五 09:00-11:50、13:00-18:00</p>
            <div class="footer-social-icon">
              <ul>
                <li>
                  <a href="https://www.facebook.com/teaseed">
                    <%= image_tag("footer-fb.png")  %>
                  </a>
                  <a href="https://www.instagram.com/chatzutang/">
                    <%= image_tag("footer-ig.png")  %>
                  </a>
                  <a href="https://www.youtube.com/channel/UCR06OACzPvbLQ8tcmvgmXbw/feed">
                    <%= image_tag("footer-youtube.png")  %>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

  </body>
</html>
