<!DOCTYPE html>
<html>
  <head>
    <title>Whale</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="content">
    <%= render :partial => "shared/navbar" %>
    
  <!-- ============== header =================== -->
  
    <header id="header">
      <div class="container">
        <h1>
          <a href="/">
            <%= image_tag("header-title.png")  %>
          </a>
        </h1>
        <% if current_user%>
        <ul id="user-box">
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Hi, <%= current_user.name %>
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
             <% if current_user.cashier? %>
               <li><%= link_to("新增公告", new_cashier_bulletin_path) %></li>
               <li><%= link_to("更改名稱", edit_user_path(current_user)) %></li>
               <li><%= link_to("密碼變更", edit_user_registration_path) %></li>
               <li><%= link_to("個人設定", edit_user_registration_path) %></li>
               <li><%= link_to("這是功能線1", edit_user_registration_path) %></li>
               <li><%= link_to("這是功能線2", edit_user_registration_path) %></li>
               <li><%= link_to('<i class = "glyphicon glyphicon-log-out" aria-hidden="true"></i> Log out'.html_safe, destroy_user_session_path,:method => :delete)%></li>
             <% end %>
            </ul>
          </li>  
        </ul>
        <ul id="function-box">
          <li>
            <%= link_to('<i class = "glyphicon glyphicon-tag" aria-hidden="true"></i> 一般功能'.html_safe, guest_today_cashier_guests_path)%>
          </li>
          <li>
            <%= link_to('<i class = "glyphicon glyphicon-open" aria-hidden="true"></i> 進階功能'.html_safe, cashier_products_path)%>
          </li>
          <li>
            <%= link_to('<i class = "glyphicon glyphicon-cog" aria-hidden="true"></i> 資料設定'.html_safe, cashier_hair_types_path)%>
          </li>
        </ul>
        <form class="form-inline search-form">
          <div class="search" id="search">
            <input type="text" id="phone" placeholder="手機號碼或 email" class="form-control">
            <button id="phone-search" class="btn btn-default btn-sm">
              <i class = "glyphicon glyphicon-search" aria-hidden="true"></i>
            </button>
          </div>
        </form>
      </div>
    </header>
    <% end %>

    <% if flash[:notice] %>
    <div class="container">
      <div class="row">
        <div class="alert alert-success alert-dismisssible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </div>
      </div>
    </div>
    <% end %>
    
    <% if flash[:alert] %>
    <div class="container">
      <div class="row">
        <div class="alert alert-danger alert-dismisssible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= alert %>
        </div>
      </div>
    </div>
    <% end %>
    <%= yield %>
</div>
<!-- ============== footer =================== -->
      <footer id="footer">
        <div class="container">
          <div class="footer-content"> 
            <%= image_tag("footer-title.png")  %>
            <p>(02)2252-9909  info@orientea.com.tw</p>
            <p>聯絡時間：周一至五 09:00-11:50、13:00-18:00</p>
            <div class="footer-social-icon">
              <ul>
                <li>
                  <a href="https://www.facebook.com/teaseed">
                    <%= image_tag("footer-fb.png")  %>
                  </a>
                  <a href="https://www.instagram.com/chatzutang/">
                    <%= image_tag("footer-ig.png")  %>
                  </a>
                  <a href="https://www.youtube.com/channel/UCR06OACzPvbLQ8tcmvgmXbw/feed">
                    <%= image_tag("footer-youtube.png")  %>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

  </body>
</html>
