<div class="container">
 <div class="col-xs-8 col-xs-offset-2">
  <hr>

  <br>
  <%= form_for @member do |f|%>
    <div class="form-group">

      <%= f.label :name, "姓名" %>
      <%= f.text_field :name, class: "form-control" %>
      <br>

      <%= f.label :gender, "性別" %>
      <label class="my_radio">
        <%= f.radio_button :gender ,"男" %>
        男
      </label>
      <label class="my_radio">
        <%= f.radio_button :gender ,"女" %>
        女
      </label>
      <br>
      <br>

      <%= f.label :birthday, "生日" %>
      <%= f.date_select :birthday, class: "form-control", start_year: 1920 %>
      <br>
      <br>

      <%= f.label :phone, "手機號碼" %>
      <%= f.text_field :phone, class: "form-control"%>
      <br>
      
      <%= f.label :fax, "傳真" %>
      <%= f.text_field :fax, class: "form-control"%>
      <br>

      <%= f.label :email, "電子信箱" %>
      <%= f.email_field :email, class: "form-control"%>
      <br>      

      <%= f.label :hair_id, "髮質" %>
      <%= f.collection_select :hair_type_id, HairType.all, :id, :value, {prompt: true}, {class: "form-control"} %>
      <br>

      <%= f.label :skin_id, "膚質" %>
      <%= f.collection_select :skin_type_id, SkinType.all, :id, :value, {prompt: true}, {class: "form-control"} %>
      <br>

      <%= f.label :avatar, "個人照片" %>
      <%= f.file_field :avatar %>
      <br>

      <%= f.submit "確定加入會員", class: "btn-submit" %>
    </div>
  <% end %>
  </div>
</div>
