<h2>加入會員</h2>
<%= form_for @member do |f|%>
  <div class="form-group">
    
    <%= f.label :name, "Name" %>
    <%= f.text_field :name , class: "form-control"%>
    <br>

    <%= f.label :gender, "性別" %>
    <%= f.radio_button :gender ,"male"%>
    <%= f.label :gender, "男" %>
    <%= f.radio_button :gender ,"female"%>
    <%= f.label :gender, "女" %>
    <br>

    <%= f.label :birthday, "生日" %>
    <%= f.text_field :birthday , class: "form-control"%>
    <br>

    <%= f.label :phone, "手機號碼" %>
    <%= f.text_field :phone , class: "form-control"%>
    <br>
    
    <%= f.label :email, "電子信箱" %>
    <%= f.email_field :email , class: "form-control"%>
    <br>

    <%= f.label :hair_id, "髮質" %>
    <%= f.collection_select :hair_code, HairType.all, :code, :value, {prompt: true}, {class: "form-control"} %>
    <br>

    <%= f.label :skin_id, "膚質" %>
    <%= f.collection_select :skin_type_id, SkinType.all, :id, :skin_type, {prompt: true}, {class: "form-control"} %>
    <br>

    <%= f.label :avatar, "個人照片" %>
    <%= f.file_field :avatar %>
    <br>

    <%= f.submit "確定加入會員",class: "btn btn-primary" %>
  </div>
<% end %>           